#################################################################################################################
################################## Orbittool O2S CONFIGURATION ##################################################
#################################################################################################################

#config file version v1.0.0
#release date: 17.07.2025

[mcu orbitoolO2S]
serial: /dev/serial/by-id/usb-Klipper_stm32f072xb_370039000C57475534393420-if00
restart_method: command

[extruder]
step_pin: orbitoolO2S:PB3
dir_pin: orbitoolO2S:PB4
enable_pin: !orbitoolO2S:PC14
microsteps: 32
rotation_distance: 4.69 # Orbiter v2.5
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: orbitoolO2S:PB9
sensor_pin: orbitoolO2S:PA1
pullup_resistor: 2200
sensor_type: PT1000
min_temp: 0
max_temp: 350
pressure_advance: 0.02  
pressure_advance_smooth_time: 0.02 
max_extrude_only_distance: 500.0
max_extrude_cross_section: 20
min_extrude_temp: 20
smooth_time: 0.5
max_power: 0.995

control: mpc
heater_power: 115
cooling_fan: fan
ambient_temp_sensor: temperature_sensor beacon_coil
filament_diameter: 1.75
filament_density: 1.20
filament_heat_capacity: 1.8 


[tmc2240 extruder] 
uart_pin: orbitoolO2S:PC13
interpolate: false
run_current: 0.85 # Orbiter v2.5
rref: 12000
stealthchop_threshold: 0
#driver_TBL: 0
#driver_TOFF: 3
#driver_HEND: 8
#driver_HSTRT: 7

[verify_heater extruder]
hysteresis: 10
check_gain_time: 40
heating_gain: 2
max_error: 500

[stepper_x]
endstop_pin: orbitoolO2S:PA2

[adc_temperature HOT_P]
temperature1:120 # value in Watts
#voltage1:1.32
voltage1:1.91 
temperature2:240 # value in Watts
voltage2:3.82 
#voltage2:2.64

[temperature_sensor Hotend_power]
sensor_pin: orbitoolO2S:PA0 
sensor_type: HOT_P


[firmware_retraction]
retract_length: 1.2 # user calibration needed
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 120
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0.0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 120
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[neopixel OrbiLED]
pin: orbitoolO2S:PC15
chain_count: 2
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.1

[fan]
pin: orbitoolO2S:PB0
enable_pin: orbitoolO2S:PB14
tachometer_pin: orbitoolO2S:PA14
tachometer_ppr: 2
tachometer_poll_interval: 0.0005
shutdown_speed: 0.0
cycle_time: 0.00004 # 25KHz control PWM frequency
hardware_pwm: False

## STM32 MCU temp
[temperature_sensor toolboard]
sensor_type: temperature_mcu
sensor_mcu: orbitoolO2S

[output_pin T0_RUN_LED]
pin: orbitoolO2S:PB13
value: 1
shutdown_value: 0